<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CoursePlus</title>
    <head th:insert="~{import :: head}"></head>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="jumbotron" style="min-height: 300px;">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><h1>Error！！！</h1>
        <p th:text="${message}">The service is too busy right now, why not try again later~</p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">Go Back To Homepage</a></p>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <img class="img-thumbnail" style="width: 35%;" src="/images/official.jpg">
    </div>
</div>

</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>